html, body {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

body {
  background-image: url(images/sample_bg.jpg);
  background-size: cover;
  background-position: center;
}

.img-komorebi {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(images/sample_komorebi_1.png);
  background-size: cover;
  background-repeat: repeat;
}
.img-komorebi-1 {
  animation: yuragi_6 12s ease alternate infinite;
}
.img-komorebi-2 {
  background-image: url(images/sample_komorebi_2.png);
  animation: yuragi_5 11s ease alternate infinite;
}
.img-komorebi-3 {
  background-image: url(images/sample_komorebi_3.png);
  animation: yuragi_4 10s ease alternate infinite;
}

@keyframes yuragi {
    0% { opacity:0.500; background-position: -7.601px 0.000px; }
    1% { opacity:0.555; background-position: -8.424px 0.000px; }
    2% { opacity:0.598; background-position: -9.028px -0.000px; }
    3% { opacity:0.627; background-position: -9.332px -0.002px; }
    4% { opacity:0.643; background-position: -9.291px -0.023px; }
    5% { opacity:0.649; background-position: -8.904px -0.092px; }
    6% { opacity:0.649; background-position: -8.240px -0.242px; }
    7% { opacity:0.648; background-position: -7.474px -0.492px; }
    8% { opacity:0.649; background-position: -6.794px -0.853px; }
    9% { opacity:0.654; background-position: -6.343px -1.317px; }
   10% { opacity:0.660; background-position: -6.178px -1.865px; }
   11% { opacity:0.671; background-position: -6.274px -2.461px; }
   12% { opacity:0.683; background-position: -6.536px -3.064px; }
   13% { opacity:0.697; background-position: -6.826px -3.626px; }
   14% { opacity:0.712; background-position: -6.985px -4.102px; }
   15% { opacity:0.723; background-position: -6.863px -4.451px; }
   16% { opacity:0.724; background-position: -6.339px -4.646px; }
   17% { opacity:0.711; background-position: -5.343px -4.666px; }
   18% { opacity:0.680; background-position: -3.878px -4.514px; }
   19% { opacity:0.626; background-position: -2.039px -4.212px; }
   20% { opacity:0.554; background-position: 0.000px -3.800px; }
   21% { opacity:0.469; background-position: 2.039px -3.330px; }
   22% { opacity:0.380; background-position: 3.878px -2.851px; }
   23% { opacity:0.295; background-position: 5.345px -2.396px; }
   24% { opacity:0.222; background-position: 6.357px -1.975px; }
   25% { opacity:0.166; background-position: 6.909px -1.580px; }
   26% { opacity:0.129; background-position: 7.028px -1.199px; }
   27% { opacity:0.108; background-position: 6.761px -0.819px; }
   28% { opacity:0.099; background-position: 6.166px -0.428px; }
   29% { opacity:0.096; background-position: 5.310px -0.021px; }
   30% { opacity:0.097; background-position: 4.266px 0.422px; }
   31% { opacity:0.100; background-position: 3.099px 0.921px; }
   32% { opacity:0.104; background-position: 1.859px 1.521px; }
   33% { opacity:0.112; background-position: 0.566px 2.202px; }
   34% { opacity:0.124; background-position: -0.789px 2.910px; }
   35% { opacity:0.145; background-position: -2.225px 3.574px; }
   36% { opacity:0.180; background-position: -3.702px 4.119px; }
   37% { opacity:0.233; background-position: -5.052px 4.486px; }
   38% { opacity:0.306; background-position: -6.071px 4.645px; }
   39% { opacity:0.398; background-position: -6.593px 4.593px; }
   40% { opacity:0.500; background-position: -6.522px 4.340px; }
   41% { opacity:0.602; background-position: -5.843px 3.902px; }
   42% { opacity:0.694; background-position: -4.626px 3.313px; }
   43% { opacity:0.767; background-position: -2.986px 2.618px; }
   44% { opacity:0.818; background-position: -1.072px 1.867px; }
   45% { opacity:0.845; background-position: 0.921px 1.113px; }
   46% { opacity:0.852; background-position: 2.772px 0.425px; }
   47% { opacity:0.839; background-position: 4.269px -0.082px; }
   48% { opacity:0.810; background-position: 5.259px -0.303px; }
   49% { opacity:0.768; background-position: 5.678px -0.185px; }
   50% { opacity:0.716; background-position: 5.586px 0.252px; }
   51% { opacity:0.657; background-position: 4.984px 0.926px; }
   52% { opacity:0.594; background-position: 4.055px 1.704px; }
   53% { opacity:0.529; background-position: 2.875px 2.436px; }
   54% { opacity:0.461; background-position: 1.587px 2.979px; }
   55% { opacity:0.389; background-position: 0.371px 3.223px; }
   56% { opacity:0.314; background-position: -0.594px 3.116px; }
   57% { opacity:0.242; background-position: -1.163px 2.666px; }
   58% { opacity:0.180; background-position: -1.254px 1.939px; }
   59% { opacity:0.138; background-position: -0.855px 1.020px; }
   60% { opacity:0.120; background-position: -0.000px 0.000px; }
   61% { opacity:0.131; background-position: 1.225px -1.020px; }
   62% { opacity:0.169; background-position: 2.679px -1.939px; }
   63% { opacity:0.233; background-position: 4.188px -2.669px; }
   64% { opacity:0.313; background-position: 5.573px -3.147px; }
   65% { opacity:0.399; background-position: 6.677px -3.339px; }
   66% { opacity:0.481; background-position: 7.415px -3.249px; }
   67% { opacity:0.549; background-position: 7.825px -2.915px; }
   68% { opacity:0.595; background-position: 8.003px -2.405px; }
   69% { opacity:0.617; background-position: 8.047px -1.806px; }
   70% { opacity:0.620; background-position: 8.027px -1.208px; }
   71% { opacity:0.610; background-position: 7.976px -0.696px; }
   72% { opacity:0.600; background-position: 7.896px -0.323px; }
   73% { opacity:0.595; background-position: 7.760px -0.105px; }
   74% { opacity:0.594; background-position: 7.517px -0.017px; }
   75% { opacity:0.596; background-position: 7.094px 0.000px; }
   76% { opacity:0.599; background-position: 6.402px 0.011px; }
   77% { opacity:0.595; background-position: 5.349px 0.056px; }
   78% { opacity:0.580; background-position: 3.878px 0.160px; }
   79% { opacity:0.549; background-position: 2.039px 0.326px; }
   80% { opacity:0.500; background-position: 0.000px 0.539px; }
   81% { opacity:0.436; background-position: -2.039px 0.773px; }
   82% { opacity:0.364; background-position: -3.878px 0.991px; }
   83% { opacity:0.290; background-position: -5.329px 1.164px; }
   84% { opacity:0.221; background-position: -6.186px 1.268px; }
   85% { opacity:0.166; background-position: -6.261px 1.284px; }
   86% { opacity:0.132; background-position: -5.474px 1.198px; }
   87% { opacity:0.129; background-position: -3.888px 1.009px; }
   88% { opacity:0.163; background-position: -1.703px 0.728px; }
   89% { opacity:0.235; background-position: 0.783px 0.378px; }
   90% { opacity:0.338; background-position: 3.225px 0.005px; }
   91% { opacity:0.460; background-position: 5.293px -0.302px; }
   92% { opacity:0.585; background-position: 6.733px -0.447px; }
   93% { opacity:0.694; background-position: 7.416px -0.367px; }
   94% { opacity:0.774; background-position: 7.352px -0.046px; }
   95% { opacity:0.813; background-position: 6.677px 0.481px; }
   96% { opacity:0.809; background-position: 5.594px 1.143px; }
   97% { opacity:0.766; background-position: 4.301px 1.846px; }
   98% { opacity:0.694; background-position: 2.999px 2.489px; }
   99% { opacity:0.602; background-position: 1.876px 2.984px; }
  100% { opacity:0.500; background-position: 1.079px 3.261px; }
}


@keyframes yuragi_2 {
    0% { opacity:0.500; background-position: 7.601px 0.000px; }
    1% { opacity:0.445; background-position: 7.199px 1.020px; }
    2% { opacity:0.402; background-position: 6.349px 1.939px; }
    3% { opacity:0.372; background-position: 5.144px 2.666px; }
    4% { opacity:0.354; background-position: 3.718px 3.116px; }
    5% { opacity:0.346; background-position: 2.226px 3.223px; }
    6% { opacity:0.347; background-position: 0.854px 2.978px; }
    7% { opacity:0.355; background-position: -0.153px 2.435px; }
    8% { opacity:0.370; background-position: -0.585px 1.702px; }
    9% { opacity:0.391; background-position: -0.341px 0.924px; }
   10% { opacity:0.422; background-position: 0.536px 0.252px; }
   11% { opacity:0.465; background-position: 1.880px -0.184px; }
   12% { opacity:0.528; background-position: 3.429px -0.301px; }
   13% { opacity:0.606; background-position: 4.884px -0.081px; }
   14% { opacity:0.694; background-position: 5.961px 0.426px; }
   15% { opacity:0.782; background-position: 6.446px 1.113px; }
   16% { opacity:0.858; background-position: 6.231px 1.857px; }
   17% { opacity:0.915; background-position: 5.333px 2.562px; }
   18% { opacity:0.947; background-position: 3.878px 3.154px; }
   19% { opacity:0.953; background-position: 2.039px 3.577px; }
   20% { opacity:0.934; background-position: 0.000px 3.800px; }
   21% { opacity:0.893; background-position: -2.039px 3.820px; }
   22% { opacity:0.833; background-position: -3.878px 3.657px; }
   23% { opacity:0.763; background-position: -5.335px 3.367px; }
   24% { opacity:0.687; background-position: -6.249px 3.033px; }
   25% { opacity:0.611; background-position: -6.493px 2.730px; }
   26% { opacity:0.539; background-position: -6.011px 2.513px; }
   27% { opacity:0.472; background-position: -4.838px 2.402px; }
   28% { opacity:0.407; background-position: -3.092px 2.384px; }
   29% { opacity:0.345; background-position: -0.961px 2.412px; }
   30% { opacity:0.287; background-position: 1.328px 2.401px; }
   31% { opacity:0.234; background-position: 3.544px 2.320px; }
   32% { opacity:0.192; background-position: 5.492px 2.092px; }
   33% { opacity:0.162; background-position: 7.047px 1.754px; }
   34% { opacity:0.149; background-position: 8.171px 1.359px; }
   35% { opacity:0.155; background-position: 8.903px 0.965px; }
   36% { opacity:0.182; background-position: 9.301px 0.621px; }
   37% { opacity:0.233; background-position: 9.374px 0.357px; }
   38% { opacity:0.306; background-position: 9.112px 0.176px; }
   39% { opacity:0.398; background-position: 8.515px 0.063px; }
   40% { opacity:0.500; background-position: 7.601px -0.000px; }
   41% { opacity:0.602; background-position: 6.409px -0.023px; }
   42% { opacity:0.694; background-position: 5.002px -0.021px; }
   43% { opacity:0.766; background-position: 3.437px -0.010px; }
   44% { opacity:0.809; background-position: 1.771px -0.002px; }
   45% { opacity:0.813; background-position: 0.088px -0.000px; }
   46% { opacity:0.774; background-position: -1.499px -0.017px; }
   47% { opacity:0.694; background-position: -2.864px -0.107px; }
   48% { opacity:0.585; background-position: -3.898px -0.325px; }
   49% { opacity:0.460; background-position: -4.535px -0.697px; }
   50% { opacity:0.338; background-position: -4.781px -1.208px; }
   51% { opacity:0.235; background-position: -4.690px -1.804px; }
   52% { opacity:0.163; background-position: -4.429px -2.403px; }
   53% { opacity:0.129; background-position: -4.129px -2.913px; }
   54% { opacity:0.132; background-position: -3.928px -3.248px; }
   55% { opacity:0.166; background-position: -3.946px -3.339px; }
   56% { opacity:0.222; background-position: -4.257px -3.147px; }
   57% { opacity:0.294; background-position: -4.866px -2.669px; }
   58% { opacity:0.378; background-position: -5.707px -1.939px; }
   59% { opacity:0.467; background-position: -6.660px -1.020px; }
   60% { opacity:0.554; background-position: -7.601px 0.000px; }
   61% { opacity:0.633; background-position: -8.424px 1.020px; }
   62% { opacity:0.697; background-position: -9.028px 1.939px; }
   63% { opacity:0.743; background-position: -9.332px 2.672px; }
   64% { opacity:0.770; background-position: -9.291px 3.179px; }
   65% { opacity:0.777; background-position: -8.903px 3.455px; }
   66% { opacity:0.769; background-position: -8.177px 3.516px; }
   67% { opacity:0.750; background-position: -7.065px 3.386px; }
   68% { opacity:0.723; background-position: -5.525px 3.093px; }
   69% { opacity:0.692; background-position: -3.589px 2.670px; }
   70% { opacity:0.659; background-position: -1.376px 2.149px; }
   71% { opacity:0.627; background-position: 0.919px 1.564px; }
   72% { opacity:0.594; background-position: 3.063px 0.939px; }
   73% { opacity:0.563; background-position: 4.823px 0.288px; }
   74% { opacity:0.537; background-position: 6.006px -0.393px; }
   75% { opacity:0.519; background-position: 6.492px -1.113px; }
   76% { opacity:0.507; background-position: 6.249px -1.849px; }
   77% { opacity:0.502; background-position: 5.335px -2.516px; }
   78% { opacity:0.500; background-position: 3.878px -3.015px; }
   79% { opacity:0.500; background-position: 2.039px -3.274px; }
   80% { opacity:0.500; background-position: 0.000px -3.261px; }
   81% { opacity:0.500; background-position: -2.039px -2.984px; }
   82% { opacity:0.500; background-position: -3.878px -2.490px; }
   83% { opacity:0.500; background-position: -5.329px -1.854px; }
   84% { opacity:0.500; background-position: -6.186px -1.171px; }
   85% { opacity:0.500; background-position: -6.260px -0.528px; }
   86% { opacity:0.499; background-position: -5.468px 0.008px; }
   87% { opacity:0.490; background-position: -3.873px 0.394px; }
   88% { opacity:0.469; background-position: -1.678px 0.627px; }
   89% { opacity:0.433; background-position: 0.815px 0.736px; }
   90% { opacity:0.382; background-position: 3.257px 0.800px; }
   91% { opacity:0.322; background-position: 5.319px 0.878px; }
   92% { opacity:0.261; background-position: 6.751px 1.076px; }
   93% { opacity:0.209; background-position: 7.425px 1.373px; }
   94% { opacity:0.175; background-position: 7.355px 1.707px; }
   95% { opacity:0.166; background-position: 6.678px 1.994px; }
   96% { opacity:0.185; background-position: 5.599px 2.144px; }
   97% { opacity:0.233; background-position: 4.322px 2.090px; }
   98% { opacity:0.306; background-position: 3.041px 1.794px; }
   99% { opacity:0.398; background-position: 1.922px 1.263px; }
  100% { opacity:0.500; background-position: 1.079px 0.539px; }
}

@keyframes yuragi_3 {
    0% { opacity:0.50; background-position: 11.40px, 0.00px; }
    1% { opacity:0.49; background-position: 10.80px, 2.04px; }
    2% { opacity:0.48; background-position: 9.52px, 3.88px; }
    3% { opacity:0.46; background-position: 7.72px, 5.33px; }
    4% { opacity:0.44; background-position: 5.58px, 6.23px; }
    5% { opacity:0.41; background-position: 3.34px, 6.45px; }
    6% { opacity:0.37; background-position: 1.28px, 5.96px; }
    7% { opacity:0.32; background-position: -0.24px, 4.88px; }
    8% { opacity:0.28; background-position: -0.90px, 3.43px; }
    9% { opacity:0.25; background-position: -0.55px, 1.88px; }
   10% { opacity:0.22; background-position: 0.76px, 0.54px; }
   11% { opacity:0.20; background-position: 2.77px, -0.34px; }
   12% { opacity:0.19; background-position: 5.11px, -0.59px; }
   13% { opacity:0.19; background-position: 7.30px, -0.15px; }
   14% { opacity:0.19; background-position: 8.93px, 0.85px; }
   15% { opacity:0.20; background-position: 9.67px, 2.22px; }
   16% { opacity:0.22; background-position: 9.35px, 3.70px; }
   17% { opacity:0.25; background-position: 8.00px, 5.03px; }
   18% { opacity:0.30; background-position: 5.82px, 6.03px; }
   19% { opacity:0.37; background-position: 3.06px, 6.55px; }
   20% { opacity:0.45; background-position: 0.00px, 6.52px; }
   21% { opacity:0.53; background-position: -3.06px, 5.97px; }
   22% { opacity:0.62; background-position: -5.82px, 4.98px; }
   23% { opacity:0.71; background-position: -8.01px, 3.66px; }
   24% { opacity:0.78; background-position: -9.44px, 2.15px; }
   25% { opacity:0.83; background-position: -10.02px, 0.59px; }
   26% { opacity:0.87; background-position: -9.74px, -0.84px; }
   27% { opacity:0.87; background-position: -8.74px, -2.00px; }
   28% { opacity:0.84; background-position: -7.21px, -2.78px; }
   29% { opacity:0.77; background-position: -5.41px, -3.16px; }
   30% { opacity:0.66; background-position: -3.63px, -3.22px; }
   31% { opacity:0.54; background-position: -2.09px, -3.00px; }
   32% { opacity:0.42; background-position: -0.97px, -2.69px; }
   33% { opacity:0.31; background-position: -0.32px, -2.31px; }
   34% { opacity:0.23; background-position: -0.05px, -1.90px; }
   35% { opacity:0.19; background-position: -0.00px, -1.47px; }
   36% { opacity:0.19; background-position: 0.00px, -1.05px; }
   37% { opacity:0.23; background-position: 0.00px, -0.66px; }
   38% { opacity:0.31; background-position: 0.00px, -0.35px; }
   39% { opacity:0.40; background-position: 0.00px, -0.13px; }
   40% { opacity:0.50; background-position: 0.00px, -0.00px; }
   41% { opacity:0.60; background-position: 0.00px, 0.05px; }
   42% { opacity:0.69; background-position: 0.00px, 0.04px; }
   43% { opacity:0.77; background-position: 0.06px, 0.02px; }
   44% { opacity:0.82; background-position: 0.25px, 0.01px; }
   45% { opacity:0.84; background-position: 0.63px, 0.00px; }
   46% { opacity:0.85; background-position: 1.18px, 0.03px; }
   47% { opacity:0.84; background-position: 1.85px, 0.20px; }
   48% { opacity:0.83; background-position: 2.55px, 0.63px; }
   49% { opacity:0.81; background-position: 3.16px, 1.36px; }
   50% { opacity:0.81; background-position: 3.58px, 2.39px; }
   51% { opacity:0.82; background-position: 3.64px, 3.58px; }
   52% { opacity:0.84; background-position: 3.25px, 4.79px; }
   53% { opacity:0.87; background-position: 2.42px, 5.82px; }
   54% { opacity:0.91; background-position: 1.26px, 6.49px; }
   55% { opacity:0.95; background-position: 0.00px, 6.68px; }
   56% { opacity:0.96; background-position: -1.10px, 6.29px; }
   57% { opacity:0.96; background-position: -1.79px, 5.34px; }
   58% { opacity:0.94; background-position: -1.88px, 3.88px; }
   59% { opacity:0.89; background-position: -1.28px, 2.04px; }
   60% { opacity:0.83; background-position: -0.00px, 0.00px; }
   61% { opacity:0.75; background-position: 1.84px, -2.04px; }
   62% { opacity:0.67; background-position: 4.02px, -3.88px; }
   63% { opacity:0.59; background-position: 6.28px, -5.34px; }
   64% { opacity:0.53; background-position: 8.36px, -6.34px; }
   65% { opacity:0.49; background-position: 10.02px, -6.86px; }
   66% { opacity:0.48; background-position: 11.13px, -6.98px; }
   67% { opacity:0.49; background-position: 11.74px, -6.81px; }
   68% { opacity:0.53; background-position: 12.01px, -6.51px; }
   69% { opacity:0.57; background-position: 12.07px, -6.24px; }
   70% { opacity:0.62; background-position: 12.04px, -6.15px; }
   71% { opacity:0.66; background-position: 11.96px, -6.32px; }
   72% { opacity:0.69; background-position: 11.84px, -6.78px; }
   73% { opacity:0.68; background-position: 11.64px, -7.47px; }
   74% { opacity:0.66; background-position: 11.28px, -8.24px; }
   75% { opacity:0.60; background-position: 10.64px, -8.90px; }
   76% { opacity:0.53; background-position: 9.60px, -9.32px; }
   77% { opacity:0.44; background-position: 8.02px, -9.47px; }
   78% { opacity:0.35; background-position: 5.82px, -9.39px; }
   79% { opacity:0.26; background-position: 3.06px, -9.12px; }
   80% { opacity:0.17; background-position: 0.00px, -8.68px; }
   81% { opacity:0.11; background-position: -3.06px, -8.08px; }
   82% { opacity:0.06; background-position: -5.82px, -7.34px; }
   83% { opacity:0.04; background-position: -8.02px, -6.47px; }
   84% { opacity:0.04; background-position: -9.54px, -5.52px; }
   85% { opacity:0.05; background-position: -10.36px, -4.54px; }
   86% { opacity:0.09; background-position: -10.55px, -3.58px; }
   87% { opacity:0.13; background-position: -10.17px, -2.69px; }
   88% { opacity:0.16; background-position: -9.30px, -1.92px; }
   89% { opacity:0.18; background-position: -8.03px, -1.30px; }
   90% { opacity:0.19; background-position: -6.47px, -0.80px; }
   91% { opacity:0.19; background-position: -4.71px, -0.45px; }
   92% { opacity:0.17; background-position: -2.83px, -0.19px; }
   93% { opacity:0.16; background-position: -0.87px, -0.03px; }
   94% { opacity:0.15; background-position: 1.18px, 0.04px; }
   95% { opacity:0.16; background-position: 3.34px, 0.05px; }
   96% { opacity:0.18; background-position: 5.61px, 0.03px; }
   97% { opacity:0.23; background-position: 7.89px, 0.01px; }
   98% { opacity:0.31; background-position: 10.00px, 0.00px; }
   99% { opacity:0.40; background-position: 11.78px, 0.00px; }
  100% { opacity:0.50; background-position: 13.02px, 0.00px; }
}

@keyframes yuragi_4 {
    0% { opacity:0.45; background-position: 15.20px, 0.00px; }
    1% { opacity:0.47; background-position: 17.03px, 0.00px; }
    2% { opacity:0.48; background-position: 18.22px, 0.00px; }
    3% { opacity:0.48; background-position: 18.75px, 0.01px; }
    4% { opacity:0.46; background-position: 18.60px, 0.16px; }
    5% { opacity:0.45; background-position: 17.81px, 0.63px; }
    6% { opacity:0.43; background-position: 16.35px, 1.54px; }
    7% { opacity:0.43; background-position: 14.12px, 2.93px; }
    8% { opacity:0.44; background-position: 11.04px, 4.69px; }
    9% { opacity:0.47; background-position: 7.17px, 6.63px; }
   10% { opacity:0.50; background-position: 2.75px, 8.51px; }
   11% { opacity:0.53; background-position: -1.83px, 10.07px; }
   12% { opacity:0.56; background-position: -6.12px, 11.10px; }
   13% { opacity:0.57; background-position: -9.64px, 11.46px; }
   14% { opacity:0.57; background-position: -12.01px, 11.09px; }
   15% { opacity:0.55; background-position: -12.98px, 10.02px; }
   16% { opacity:0.54; background-position: -12.50px, 8.36px; }
   17% { opacity:0.52; background-position: -10.67px, 6.28px; }
   18% { opacity:0.52; background-position: -7.76px, 4.02px; }
   19% { opacity:0.53; background-position: -4.08px, 1.84px; }
   20% { opacity:0.55; background-position: 0.00px, 0.00px; }
   21% { opacity:0.60; background-position: 4.08px, -1.28px; }
   22% { opacity:0.65; background-position: 7.76px, -1.89px; }
   23% { opacity:0.72; background-position: 10.70px, -1.81px; }
   24% { opacity:0.78; background-position: 12.80px, -1.14px; }
   25% { opacity:0.83; background-position: 14.19px, -0.07px; }
   26% { opacity:0.87; background-position: 15.04px, 1.21px; }
   27% { opacity:0.88; background-position: 15.53px, 2.48px; }
   28% { opacity:0.87; background-position: 15.81px, 3.57px; }
   29% { opacity:0.84; background-position: 15.98px, 4.36px; }
   30% { opacity:0.78; background-position: 16.09px, 4.85px; }
   31% { opacity:0.72; background-position: 16.13px, 5.04px; }
   32% { opacity:0.66; background-position: 16.03px, 5.07px; }
   33% { opacity:0.60; background-position: 15.67px, 4.95px; }
   34% { opacity:0.55; background-position: 14.84px, 4.73px; }
   35% { opacity:0.52; background-position: 13.36px, 4.41px; }
   36% { opacity:0.51; background-position: 11.19px, 4.01px; }
   37% { opacity:0.50; background-position: 8.60px, 3.54px; }
   38% { opacity:0.50; background-position: 6.00px, 2.98px; }
   39% { opacity:0.50; background-position: 3.75px, 2.32px; }
   40% { opacity:0.50; background-position: 2.16px, 1.62px; }
   41% { opacity:0.50; background-position: 1.38px, 0.98px; }
   42% { opacity:0.50; background-position: 1.46px, 0.48px; }
   43% { opacity:0.50; background-position: 2.33px, 0.17px; }
   44% { opacity:0.51; background-position: 3.88px, 0.03px; }
   45% { opacity:0.52; background-position: 5.88px, -0.00px; }
   46% { opacity:0.55; background-position: 7.97px, -0.05px; }
   47% { opacity:0.60; background-position: 9.80px, -0.31px; }
   48% { opacity:0.66; background-position: 11.05px, -0.96px; }
   49% { opacity:0.72; background-position: 11.51px, -2.07px; }
   50% { opacity:0.78; background-position: 11.20px, -3.60px; }
   51% { opacity:0.84; background-position: 10.18px, -5.39px; }
   52% { opacity:0.87; background-position: 8.75px, -7.20px; }
   53% { opacity:0.88; background-position: 7.08px, -8.73px; }
   54% { opacity:0.87; background-position: 5.36px, -9.74px; }
   55% { opacity:0.83; background-position: 3.77px, -10.02px; }
   56% { opacity:0.78; background-position: 2.43px, -9.44px; }
   57% { opacity:0.71; background-position: 1.41px, -8.01px; }
   58% { opacity:0.62; background-position: 0.70px, -5.82px; }
   59% { opacity:0.53; background-position: 0.25px, -3.06px; }
   60% { opacity:0.45; background-position: 0.00px, 0.00px; }
   61% { opacity:0.37; background-position: -0.09px, 3.06px; }
   62% { opacity:0.30; background-position: -0.08px, 5.82px; }
   63% { opacity:0.26; background-position: -0.04px, 8.02px; }
   64% { opacity:0.23; background-position: -0.01px, 9.54px; }
   65% { opacity:0.22; background-position: -0.00px, 10.36px; }
   66% { opacity:0.23; background-position: -0.06px, 10.54px; }
   67% { opacity:0.25; background-position: -0.41px, 10.14px; }
   68% { opacity:0.29; background-position: -1.27px, 9.24px; }
   69% { opacity:0.33; background-position: -2.76px, 7.95px; }
   70% { opacity:0.38; background-position: -4.80px, 6.37px; }
   71% { opacity:0.43; background-position: -7.19px, 4.62px; }
   72% { opacity:0.49; background-position: -9.60px, 2.77px; }
   73% { opacity:0.54; background-position: -11.65px, 0.84px; }
   74% { opacity:0.58; background-position: -12.99px, -1.19px; }
   75% { opacity:0.61; background-position: -13.35px, -3.34px; }
   76% { opacity:0.62; background-position: -12.59px, -5.60px; }
   77% { opacity:0.61; background-position: -10.68px, -7.85px; }
   78% { opacity:0.60; background-position: -7.76px, -9.94px; }
   79% { opacity:0.58; background-position: -4.08px, -11.71px; }
   80% { opacity:0.55; background-position: 0.00px, -13.02px; }
   81% { opacity:0.53; background-position: 4.08px, -13.78px; }
   82% { opacity:0.52; background-position: 7.76px, -13.94px; }
   83% { opacity:0.51; background-position: 10.67px, -13.51px; }
   84% { opacity:0.50; background-position: 12.46px, -12.57px; }
   85% { opacity:0.50; background-position: 12.89px, -11.28px; }
   86% { opacity:0.50; background-position: 11.92px, -9.85px; }
   87% { opacity:0.50; background-position: 9.76px, -8.50px; }
   88% { opacity:0.50; background-position: 6.85px, -7.39px; }
   89% { opacity:0.50; background-position: 3.75px, -6.60px; }
   90% { opacity:0.50; background-position: 1.07px, -6.00px; }
   91% { opacity:0.50; background-position: -0.68px, -5.53px; }
   92% { opacity:0.50; background-position: -1.16px, -4.85px; }
   93% { opacity:0.50; background-position: -0.30px, -3.99px; }
   94% { opacity:0.50; background-position: 1.71px, -3.03px; }
   95% { opacity:0.50; background-position: 4.45px, -2.07px; }
   96% { opacity:0.50; background-position: 7.43px, -1.26px; }
   97% { opacity:0.50; background-position: 10.25px, -0.73px; }
   98% { opacity:0.50; background-position: 12.61px, -0.57px; }
   99% { opacity:0.50; background-position: 14.31px, -0.85px; }
  100% { opacity:0.50; background-position: 15.20px, -1.62px; }
}


@keyframes yuragi_5 {
    0% { opacity:0.45; background-position: -17.36px, 0.00px; }
    1% { opacity:0.43; background-position: -15.70px, -3.06px; }
    2% { opacity:0.44; background-position: -13.34px, -5.82px; }
    3% { opacity:0.46; background-position: -10.51px, -7.99px; }
    4% { opacity:0.50; background-position: -7.48px, -9.28px; }
    5% { opacity:0.55; background-position: -4.45px, -9.39px; }
    6% { opacity:0.60; background-position: -1.70px, -8.20px; }
    7% { opacity:0.65; background-position: 0.33px, -5.82px; }
    8% { opacity:0.68; background-position: 1.21px, -2.52px; }
    9% { opacity:0.69; background-position: 0.74px, 1.22px; }
   10% { opacity:0.68; background-position: -1.01px, 4.89px; }
   11% { opacity:0.66; background-position: -3.70px, 7.98px; }
   12% { opacity:0.65; background-position: -6.82px, 10.13px; }
   13% { opacity:0.64; background-position: -9.75px, 11.14px; }
   14% { opacity:0.65; background-position: -11.91px, 11.04px; }
   15% { opacity:0.67; background-position: -12.89px, 10.02px; }
   16% { opacity:0.70; background-position: -12.46px, 8.36px; }
   17% { opacity:0.74; background-position: -10.67px, 6.28px; }
   18% { opacity:0.77; background-position: -7.76px, 4.02px; }
   19% { opacity:0.78; background-position: -4.08px, 1.84px; }
   20% { opacity:0.78; background-position: 0.00px, 0.00px; }
   21% { opacity:0.76; background-position: 4.08px, -1.28px; }
   22% { opacity:0.72; background-position: 7.76px, -1.88px; }
   23% { opacity:0.66; background-position: 10.67px, -1.79px; }
   24% { opacity:0.59; background-position: 12.46px, -1.10px; }
   25% { opacity:0.51; background-position: 12.89px, -0.00px; }
   26% { opacity:0.44; background-position: 11.92px, 1.25px; }
   27% { opacity:0.38; background-position: 9.76px, 2.40px; }
   28% { opacity:0.34; background-position: 6.85px, 3.23px; }
   29% { opacity:0.31; background-position: 3.75px, 3.62px; }
   30% { opacity:0.31; background-position: 1.07px, 3.55px; }
   31% { opacity:0.31; background-position: -0.68px, 2.99px; }
   32% { opacity:0.33; background-position: -1.16px, 2.06px; }
   33% { opacity:0.35; background-position: -0.30px, 0.85px; }
   34% { opacity:0.37; background-position: 1.71px, -0.46px; }
   35% { opacity:0.39; background-position: 4.45px, -1.64px; }
   36% { opacity:0.40; background-position: 7.43px, -2.46px; }
   37% { opacity:0.40; background-position: 10.25px, -2.74px; }
   38% { opacity:0.40; background-position: 12.61px, -2.40px; }
   39% { opacity:0.40; background-position: 14.31px, -1.47px; }
   40% { opacity:0.40; background-position: 15.20px, 0.00px; }
   41% { opacity:0.40; background-position: 15.28px, 1.91px; }
   42% { opacity:0.40; background-position: 14.62px, 4.08px; }
   43% { opacity:0.40; background-position: 13.37px, 6.31px; }
   44% { opacity:0.40; background-position: 11.74px, 8.37px; }
   45% { opacity:0.40; background-position: 9.99px, 10.02px; }
   46% { opacity:0.40; background-position: 8.40px, 11.08px; }
   47% { opacity:0.40; background-position: 7.18px, 11.45px; }
   48% { opacity:0.40; background-position: 6.48px, 11.09px; }
   49% { opacity:0.40; background-position: 6.27px, 10.05px; }
   50% { opacity:0.40; background-position: 6.31px, 8.49px; }
   51% { opacity:0.40; background-position: 6.39px, 6.61px; }
   52% { opacity:0.40; background-position: 6.03px, 4.67px; }
   53% { opacity:0.40; background-position: 5.23px, 2.92px; }
   54% { opacity:0.40; background-position: 4.10px, 1.54px; }
   55% { opacity:0.40; background-position: 2.85px, 0.63px; }
   56% { opacity:0.40; background-position: 1.74px, 0.16px; }
   57% { opacity:0.39; background-position: 0.99px, 0.01px; }
   58% { opacity:0.38; background-position: 0.76px, 0.00px; }
   59% { opacity:0.37; background-position: 1.13px, 0.00px; }
   60% { opacity:0.35; background-position: 2.16px, 0.00px; }
   61% { opacity:0.32; background-position: 3.84px, 0.00px; }
   62% { opacity:0.30; background-position: 6.08px, 0.00px; }
   63% { opacity:0.29; background-position: 8.64px, 0.01px; }
   64% { opacity:0.28; background-position: 11.20px, 0.07px; }
   65% { opacity:0.29; background-position: 13.36px, 0.28px; }
   66% { opacity:0.32; background-position: 14.84px, 0.74px; }
   67% { opacity:0.36; background-position: 15.67px, 1.51px; }
   68% { opacity:0.41; background-position: 16.03px, 2.62px; }
   69% { opacity:0.47; background-position: 16.13px, 4.04px; }
   70% { opacity:0.52; background-position: 16.09px, 5.69px; }
   71% { opacity:0.57; background-position: 15.98px, 7.47px; }
   72% { opacity:0.61; background-position: 15.81px, 9.26px; }
   73% { opacity:0.65; background-position: 15.53px, 10.91px; }
   74% { opacity:0.67; background-position: 15.04px, 12.32px; }
   75% { opacity:0.68; background-position: 14.19px, 13.36px; }
   76% { opacity:0.67; background-position: 12.80px, 13.98px; }
   77% { opacity:0.64; background-position: 10.70px, 14.20px; }
   78% { opacity:0.60; background-position: 7.76px, 14.08px; }
   79% { opacity:0.53; background-position: 4.08px, 13.68px; }
   80% { opacity:0.45; background-position: 0.00px, 13.02px; }
   81% { opacity:0.37; background-position: -4.08px, 12.12px; }
   82% { opacity:0.28; background-position: -7.76px, 11.01px; }
   83% { opacity:0.19; background-position: -10.69px, 9.77px; }
   84% { opacity:0.12; background-position: -12.71px, 8.54px; }
   85% { opacity:0.07; background-position: -13.82px, 7.43px; }
   86% { opacity:0.03; background-position: -14.07px, 6.54px; }
   87% { opacity:0.01; background-position: -13.55px, 5.89px; }
   88% { opacity:-0.00; background-position: -12.38px, 5.44px; }
   89% { opacity:-0.00; background-position: -10.68px, 5.13px; }
   90% { opacity:-0.00; background-position: -8.60px, 4.79px; }
   91% { opacity:0.00; background-position: -6.25px, 4.22px; }
   92% { opacity:0.00; background-position: -3.75px, 3.16px; }
   93% { opacity:0.01; background-position: -1.15px, 1.53px; }
   94% { opacity:0.02; background-position: 1.57px, -0.61px; }
   95% { opacity:0.05; background-position: 4.45px, -3.09px; }
   96% { opacity:0.08; background-position: 7.39px, -5.66px; }
   97% { opacity:0.13; background-position: 10.06px, -8.03px; }
   98% { opacity:0.21; background-position: 12.06px, -9.92px; }
   99% { opacity:0.30; background-position: 13.10px, -11.08px; }
  100% { opacity:0.40; background-position: 13.04px, -11.40px; }
}

@keyframes yuragi_6 {
    0% { opacity:0.45; background-position: -0.00px, 0.00px; }
    1% { opacity:0.44; background-position: -0.00px, -4.08px; }
    2% { opacity:0.43; background-position: -0.00px, -7.76px; }
    3% { opacity:0.42; background-position: 0.00px, -10.68px; }
    4% { opacity:0.40; background-position: 0.00px, -12.59px; }
    5% { opacity:0.38; background-position: -0.00px, -13.35px; }
    6% { opacity:0.36; background-position: -0.07px, -12.99px; }
    7% { opacity:0.33; background-position: -0.43px, -11.65px; }
    8% { opacity:0.32; background-position: -1.30px, -9.60px; }
    9% { opacity:0.30; background-position: -2.79px, -7.19px; }
   10% { opacity:0.29; background-position: -4.83px, -4.80px; }
   11% { opacity:0.27; background-position: -7.22px, -2.76px; }
   12% { opacity:0.25; background-position: -9.61px, -1.27px; }
   13% { opacity:0.22; background-position: -11.65px, -0.41px; }
   14% { opacity:0.18; background-position: -12.99px, -0.07px; }
   15% { opacity:0.13; background-position: -13.36px, 0.00px; }
   16% { opacity:0.08; background-position: -12.59px, 0.03px; }
   17% { opacity:0.03; background-position: -10.68px, 0.18px; }
   18% { opacity:0.00; background-position: -7.76px, 0.56px; }
   19% { opacity:0.00; background-position: -4.08px, 1.21px; }
   20% { opacity:0.02; background-position: 0.00px, 2.16px; }
   21% { opacity:0.06; background-position: 4.08px, 3.34px; }
   22% { opacity:0.12; background-position: 7.76px, 4.66px; }
   23% { opacity:0.19; background-position: 10.70px, 5.97px; }
   24% { opacity:0.26; background-position: 12.80px, 7.11px; }
   25% { opacity:0.34; background-position: 14.19px, 7.98px; }
   26% { opacity:0.41; background-position: 15.04px, 8.52px; }
   27% { opacity:0.48; background-position: 15.53px, 8.75px; }
   28% { opacity:0.54; background-position: 15.81px, 8.71px; }
   29% { opacity:0.60; background-position: 15.98px, 8.46px; }
   30% { opacity:0.66; background-position: 16.09px, 8.01px; }
   31% { opacity:0.72; background-position: 16.13px, 7.24px; }
   32% { opacity:0.76; background-position: 16.03px, 5.96px; }
   33% { opacity:0.79; background-position: 15.67px, 4.08px; }
   34% { opacity:0.80; background-position: 14.84px, 1.61px; }
   35% { opacity:0.80; background-position: 13.36px, -1.27px; }
   36% { opacity:0.77; background-position: 11.19px, -4.35px; }
   37% { opacity:0.72; background-position: 8.60px, -7.34px; }
   38% { opacity:0.64; background-position: 6.00px, -9.95px; }
   39% { opacity:0.55; background-position: 3.75px, -11.94px; }
   40% { opacity:0.45; background-position: 2.16px, -13.04px; }
   41% { opacity:0.35; background-position: 1.38px, -13.10px; }
   42% { opacity:0.26; background-position: 1.45px, -12.06px; }
   43% { opacity:0.18; background-position: 2.27px, -10.06px; }
   44% { opacity:0.13; background-position: 3.61px, -7.39px; }
   45% { opacity:0.10; background-position: 5.13px, -4.45px; }
   46% { opacity:0.07; background-position: 6.47px, -1.71px; }
   47% { opacity:0.06; background-position: 7.25px, 0.30px; }
   48% { opacity:0.05; background-position: 7.23px, 1.17px; }
   49% { opacity:0.05; background-position: 6.34px, 0.68px; }
   50% { opacity:0.05; background-position: 4.76px, -1.07px; }
   51% { opacity:0.05; background-position: 2.77px, -3.76px; }
   52% { opacity:0.05; background-position: 0.95px, -6.86px; }
   53% { opacity:0.06; background-position: -0.34px, -9.77px; }
   54% { opacity:0.08; background-position: -0.81px, -11.92px; }
   55% { opacity:0.12; background-position: -0.27px, -12.89px; }
   56% { opacity:0.17; background-position: 1.29px, -12.46px; }
   57% { opacity:0.23; background-position: 3.73px, -10.67px; }
   58% { opacity:0.30; background-position: 6.75px, -7.76px; }
   59% { opacity:0.35; background-position: 9.98px, -4.08px; }
   60% { opacity:0.40; background-position: 13.04px, 0.00px; }
   61% { opacity:0.42; background-position: 15.64px, 4.08px; }
   62% { opacity:0.43; background-position: 17.50px, 7.76px; }
   63% { opacity:0.43; background-position: 18.48px, 10.67px; }
   64% { opacity:0.41; background-position: 18.55px, 12.46px; }
   65% { opacity:0.38; background-position: 17.81px, 12.89px; }
   66% { opacity:0.35; background-position: 16.41px, 11.92px; }
   67% { opacity:0.32; background-position: 14.53px, 9.77px; }
   68% { opacity:0.30; background-position: 12.30px, 6.86px; }
   69% { opacity:0.29; background-position: 9.90px, 3.76px; }
   70% { opacity:0.29; background-position: 7.52px, 1.07px; }
   71% { opacity:0.29; background-position: 5.33px, -0.68px; }
   72% { opacity:0.30; background-position: 3.45px, -1.17px; }
   73% { opacity:0.30; background-position: 1.99px, -0.30px; }
   74% { opacity:0.30; background-position: 0.97px, 1.71px; }
   75% { opacity:0.30; background-position: 0.37px, 4.45px; }
   76% { opacity:0.31; background-position: 0.09px, 7.47px; }
   77% { opacity:0.32; background-position: 0.01px, 10.47px; }
   78% { opacity:0.35; background-position: 0.00px, 13.25px; }
   79% { opacity:0.39; background-position: 0.00px, 15.61px; }
   80% { opacity:0.45; background-position: 0.00px, 17.36px; }
   81% { opacity:0.52; background-position: 0.00px, 18.37px; }
   82% { opacity:0.59; background-position: 0.00px, 18.59px; }
   83% { opacity:0.66; background-position: 0.02px, 18.04px; }
   84% { opacity:0.73; background-position: 0.22px, 16.87px; }
   85% { opacity:0.78; background-position: 0.83px, 15.22px; }
   86% { opacity:0.82; background-position: 2.05px, 13.29px; }
   87% { opacity:0.84; background-position: 3.88px, 11.22px; }
   88% { opacity:0.85; background-position: 6.21px, 9.12px; }
   89% { opacity:0.85; background-position: 8.79px, 7.03px; }
   90% { opacity:0.85; background-position: 11.28px, 4.90px; }
   91% { opacity:0.85; background-position: 13.37px, 2.94px; }
   92% { opacity:0.84; background-position: 14.76px, 1.14px; }
   93% { opacity:0.84; background-position: 15.25px, -0.23px; }
   94% { opacity:0.83; background-position: 14.77px, -1.03px; }
   95% { opacity:0.80; background-position: 13.36px, -1.27px; }
   96% { opacity:0.77; background-position: 11.19px, -1.12px; }
   97% { opacity:0.72; background-position: 8.60px, -0.84px; }
   98% { opacity:0.64; background-position: 6.00px, -0.75px; }
   99% { opacity:0.55; background-position: 3.75px, -1.13px; }
  100% { opacity:0.45; background-position: 2.16px, -2.16px; }
}